/*---------------
    fonts
---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*---------------
   ALL Section
----------------*/
.All {
    padding: 20px 60px;
    display: grid;
    grid-template-columns: repeat(1fr, 2fr);
    grid-row-gap: 100px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    text-align: center;
}

/*---------------
  Header Section
---------------- */
/* .header {
    margin-bottom: 100px;
} */

.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 30px;
}

.headline {
    font-size: 3em;
    margin-bottom: 1px;
}

.headline,
.headline-info {
    color: white;
}

.headline {
    font-weight: 900;
}

.headline-info {
    font-weight: 400;
}

.player-img {
    width: 40%;
}

.banner-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.watch-live-button {
    background-color: #DD0000;
    width: 130px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
}

.watch-live {
    color: white;
    text-decoration: none;
}

.fa-greater-than {
    color: white;
}

/*---------------
  Main Section
---------------- */
.main-class {
    display: grid;
    grid-template-columns: 250px 950px;
    grid-column-gap: 10px;
    justify-content: space-between;
}

.Sidebar-link {
    background-color: #161616;
    padding: 25px;
    border-radius: 10px;
    width: 200px;
    height: 225px;
}

.upcoming-match,
.All-Group,
.Blog {
    background-color: white;
    text-decoration: none;
    align-items: center;
    margin-left: 15px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}

.Blog:hover {
    background-color: yellow;
    color: white;
}

.upcoming-match:hover,
.All-Group:hover {
    background-color: red;
    color: white;
}

.transfer {
    background-color: #FFFFFF;
}

.transfer-window {
    padding: 20px;
}

.transfer-button {
    background-color: #FFFFFF;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    border-radius: 5px;
}

.icon {
    display: flex;
}

h4 {
    font-weight: 500;
}

/* -----------------
Transfer Window Grid
-------------------*/
.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-items: flex-end;
}

/*.................. 
Footer Section 
................... */

footer {
    background-color: #161616;
    height: 1000px;
}

.footer-show {
    display: flex;
    padding-left: 170px;
}

.social-icon {
    text-align: center;
    font-size: 50px;
}

/*.................. 
Upcoming-match
................... */

.match-time {
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px;
}

.country-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.match-info {
    display: flex;
    flex-wrap: wrap;
}

.match {
    margin-left: 30px;
}

.time {
    margin-left: 15px;
    font-weight: 400;
    font-size: 20px;
    justify-content: center;
}